/* styles.css */

/* Target the <h1> element and change its color */
header {
    background-color: #7e6f9e;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
        display: inline-block;
        margin-right: 20px;
}

.menu li a {
            color: #fff;
            text-decoration: none;
            font-size: 16px;
            transition: color 0.3s ease;
}

.menu li a:hover {
                color: #ffcc00;
}

h1 {
    color: black;
}

/* Target the <body> element and set a background color */
body {
    background-color: white;
}
#random-fact-container {
    margin-bottom: 10px;
    padding: 10px;
    background-color: lightgray;
}

#random-fact-button {
    background-color: #337ab7;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
